{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PayPerks - URL shortener</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>
    
    <div class="container">
      
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation" class="active"><a href="/api/" role="button">Browse the API</a></li>
 
           </ul>
         </nav>
         <h3 class="text-muted">PayPerks URL shortener</h3>
       </div>

       <div class="jumbotron">
         <h1>Welcome to the PayPerks URL shortener</h1>
        <p class="lead">You can create short urls below and view the ones already created, or directly <a href="/api/" >Browse the API</a></p>
       </div>
       
   
       
      
       <h3>Create a new short URL</h1>
        <div id='error_panel' class="panel panel-danger">
          <div class="panel-heading">There was an error shortening the URL</div>
          <div id='error_content' class="panel-body">
            Panel content
          </div>
        </div>
       <form class="form-inline" id='url_form' action="{% url 'create_new_shortened_url' %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
         {% csrf_token %}
         
         <div class="form-group">
           <label for="exampleInputName2">URL</label>
           <div class="input-group">
                 <span class="input-group-addon">@</span>
                 <input name="original" id="original" class="form-control" type="text" value="">
               </div>
           
         </div>
         <button type="submit" id='create_url' class="btn btn-default">Create a shortened version</button>
       </form>
       
       
       <h3 id='url_list'>List of all short URLs</h1>
       <div class="table-responsive">
                   <table class="table table-striped">
                     <thead>
                       <tr>
                         <th>Original URL</th>
                         <th>shortened URL</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for url in short_urls %}
                        
                         <tr>
                           <td>{{url.original}}</td>
                           <td> <a href="{% url 'short_url_redirect'  url.shortened %}">{% url 'short_url_redirect'  url.shortened %}</a></td>
                         
                         </tr>
                         {% endfor %}
                     </tbody>
                   </table>
                 </div>
       
     


       <footer class="footer">
         <p>&copy; PayPerks, 2015</p>
       </footer>

     </div> <!-- /container -->
     
     
        
  </body>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
  <script>
  var base_url = '{{request.get_host}}';
  $('#error_panel').hide();
  var show_error = function (error) {
    $('#error_content').text(error);
    $('#error_panel').show();
  };
  $('#create_url').click(
    function(event){
      event.preventDefault();
      var url = $('#original').val();
      if (url == null) {
        show_error('Please input an url')
        return
      }
      if (!(_.includes(url, 'http://') || _.includes(url, 'https://'))) {
        show_error('Please input a valid url starting with http:// or https://')
        return
      }
      if (!_.includes(url, base_url)) {
        show_error('Please input a valid url starting with http://' + base_url)
        return
      }
      $('#url_form').submit();
    }
  
  )
  
  </script>

</html>