{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PayPerks - URL shortener</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">


  </head>
  <body>
    <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation" class="active"><a href="/">Home</a></li>

           </ul>
         </nav>
         <h3 class="text-muted">PayPerks Url shortener</h3>
       </div>

       <div class="jumbotron">
         <h1>Welcome to the PayPerks Url shortener</h1>
         <p class="lead">Currently, it's only an API, and it comes with a nice built-in interface</p>
         <p><a class="btn btn-lg btn-success" href="/api/" role="button">Browse the API</a></p>
       </div>
       
       <h3>Create a new short URL</h1>
       <form class="form-inline" id='url_form' action="{% url 'create_new_shortened_url' %}" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">
         {% csrf_token %}
         <div class="form-group">
           <label for="exampleInputName2">URL</label>
           <div class="input-group">
                 <span class="input-group-addon">@</span>
                 <input name="original" id="original" class="form-control" type="text" value="">
               </div>
           
         </div>
         <button type="submit" id='create_url' class="btn btn-default">Create a shortened version</button>
       </form>
       
       
       <h3 id='url_list'>List of all short URLs</h1>
       <div class="table-responsive">
                   <table class="table table-striped">
                     <thead>
                       <tr>
                         <th>Original url</th>
                         <th>shortened url</th>
                       </tr>
                     </thead>
                     <tbody>
                       {% for url in short_urls %}
                        
                         <tr>
                           <td>{{url.original}}</td>
                           <td> <a href="{% url 'short_url_redirect'  url.shortened %}">{% url 'short_url_redirect'  url.shortened %}</a></td>
                           <td>sit</td>
                         </tr>
                         {% endfor %}
                     </tbody>
                   </table>
                 </div>
       
     


       <footer class="footer">
         <p>&copy; PayPerks, 2015</p>
       </footer>

     </div> <!-- /container -->
     
     
        
  </body>
  
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
  <script>
  $('#create_url').click(
    function(event){
      event.preventDefault();
      var input = $('#original').val();
      $('#url_form').submit();
    }
  
  )
  
  </script>

</html>